{% extends "base.html" %}
{% block start %}

<!--fixed navbar-->
<div class="">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img src="/media/images/logo_img.png" style="height:30px;" alt=""></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                
                <form class="d-flex ">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                    </div>
                </form>
               
            </div>
            <div class="navbar-nav">
                <button type="button" class="btn btn-secondary"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                <a href="#" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </nav>
</div>



<!--Sidebar-->
<div class="container-fluid mt-5 position-fixed">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline mt-5">Categories</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>
</div>


<!--containers-->
        <div class="div_set_margin">
            <div class="mt-10">
                <h2 class="h2">Add Items to cart</h2>
                <hr>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-md-6">   
        
                        <img src="french-ratatouille.jpg" class="img-fluid" alt="French Ratatouille Hi-Pro Veg">
                    </div>
                    <div class="col-md-6">
                        <h2>French Ratatouille Hi-Pro Veg</h2>
                        <p class="text-muted">World Cuisine</p>
                        <p class="h3">₹129 <span class="text-decoration-line-through">₹229</span> 44% OFF</p>
                        <button class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">   
        
                        <img src="french-ratatouille.jpg" class="img-fluid" alt="French Ratatouille Hi-Pro Veg">
                    </div>
                    <div class="col-md-6">
                        <h2>French Ratatouille Hi-Pro Veg</h2>
                        <p class="text-muted">World Cuisine</p>
                        <p class="h3">₹129 <span class="text-decoration-line-through">₹229</span> 44% OFF</p>
                        <button class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">   
        
                        <img src="french-ratatouille.jpg" class="img-fluid" alt="French Ratatouille Hi-Pro Veg">
                    </div>
                    <div class="col-md-6">
                        <h2>French Ratatouille Hi-Pro Veg</h2>
                        <p class="text-muted">World Cuisine</p>
                        <p class="h3">₹129 <span class="text-decoration-line-through">₹229</span> 44% OFF</p>
                        <button class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">   
        
                        <img src="french-ratatouille.jpg" class="img-fluid" alt="French Ratatouille Hi-Pro Veg">
                    </div>
                    <div class="col-md-6">
                        <h2>French Ratatouille Hi-Pro Veg</h2>
                        <p class="text-muted">World Cuisine</p>
                        <p class="h3">₹129 <span class="text-decoration-line-through">₹229</span> 44% OFF</p>
                        <button class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">   
        
                        <img src="french-ratatouille.jpg" class="img-fluid" alt="French Ratatouille Hi-Pro Veg">
                    </div>
                    <div class="col-md-6">
                        <h2>French Ratatouille Hi-Pro Veg</h2>
                        <p class="text-muted">World Cuisine</p>
                        <p class="h3">₹129 <span class="text-decoration-line-through">₹229</span> 44% OFF</p>
                        <button class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">   
        
                        <img src="french-ratatouille.jpg" class="img-fluid" alt="French Ratatouille Hi-Pro Veg">
                    </div>
                    <div class="col-md-6">
                        <h2>French Ratatouille Hi-Pro Veg</h2>
                        <p class="text-muted">World Cuisine</p>
                        <p class="h3">₹129 <span class="text-decoration-line-through">₹229</span> 44% OFF</p>
                        <button class="btn btn-primary">ADD</button>
                    </div>
                </div>
            </div>
        </div>



{% endblock %}