{% extends "base.html" %}
{% block start %}

<!--fixed navbar-->
<div class="mb-20">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-warning">
        <div class="container-fluid">
            <a href="#" class="navbar-brand"><img src="/media/images/logo_img.png" style="height:30px;" alt=""></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                
                <form class="d-flex " method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="button" class="btn btn-secondary"><i class="bi-search"></i></button>
                    </div>
                </form>
               
            </div>
            <div class="navbar-nav">
                <button type="button" class="btn btn-secondary me-4"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                <form class="form-inline">
                  {% if request.user.is_authenticated %}
                <a href="/logout/" class="btn btn-secondary my-2 me-3 my-sm-0" type="submit">Logout</a>
                  {% else %}
                  <a href="/login/" class="btn btn-secondary my-2 me-3 my-sm-0" type="submit">Login</a>
                  {% endif %}
              </form>
            </div>
        </div>
    </nav>
  </div>

  <form method="post">
    {% csrf_token %}
<section class="py-5">

        <div class="row gx-8 section_set">
            <aside class="col-lg-6">
                <img src="/media/{{recipe.product_image}}" class="img_set" alt="...">
            </aside>
            <main class="col-lg-6">
                <div class="container">
                    <br>
                <input type="text" value="{{recipe.prodct_name}}" class="input_h1" name="p_name" readonly>
                <div>
                    <br>
                    <br>
                    <h5 name="p_price">Price : {{recipe.product_price}}<span class="text-muted">/per item</span></h5>
                </div>
                <div>
                    
                    <br>
                    <h3 style="text-align: center;">Description</h3>
                    <hr>
                    <p class="text_p">{{recipe.product_Description}}</p>
                </div>
                <div class="btns">
                    <br><br><br>
                    <a href="/" class="btn btn-warning" type="submit">Back</a>
                    <a href="/" class="btn btn-warning buy_btn_buy" type="submit" data-bs-toggle="modal" data-bs-target="#myModal">Order Now</a>
                    <a href="{% url 'add_to_cart' recipe.id %}" class="btn btn-warning item_view_cart" type="submit"> Add To Cart</a>
                    
                </div>
                </div>
            </main>
        </div>
</section>


<!-- The Modal -->

<div class="modal" id="myModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Food Quantity</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <h5 name="p_name">{{recipe.prodct_name}}</h5>
            <h5>Quantity:</h5>
            <main class="cd__main">
                <!-- Start DEMO HTML (Use the following code into your project)-->
                <div class="input-group">
                    <button id="decrement">-</button>
                    <input type="number" id="input" value="1" name="quantity">
                    <button id="increment">+</button>
                </div>
                <!-- END EDMO HTML (Happy Coding!)-->
             </main>
             
            <h5 name="p_price">price: {{recipe.product_price}}</h5>
            
        
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <a href="#" class="btn btn-success" type="submit">Order Now</a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</form>
  </div>

{% endblock %}